    <footer>
        <a href="https://dvkr.netlify.app">Portfolio</a>
    </footer>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../../js/updateDelete.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/notifications.js"></script>
    <script src="../../js/menu.js"></script>
</body>
</html>