    <section>
        <p>
            <a href="/history">History</a>
            <a href="/today">Today's timers</a>
        </p>
    </section>
    <script src="js/notifications.js"></script>
    <script src="js/main.js"></script>
</body>
</html>