<!-- see header.ejs -->
    <nav id="mainNav" class="hideNav showNav">
        <ul>
            <li id="siteName"><a href="/main">Use Timer</a></li>
            <li><a href="/today">Today's timers</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<main id="mainPage">