<!-- see header.ejs -->
        <div id="navAccess" tabindex=0>
            <div class="bars" id="first"></div>
            <div class="bars" id="second"></div>
            <div class="bars" id="third"></div>
        </div>

    </div>
    <nav id="mainNav" class="hideNav showNav">
        <ul>
            <li id="siteName"><a href="/main">Use Timer</a></li>
            <li><a href="/today">Today's timers</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<main id="mainPage">