<header>
    <nav>
        <ul id="mainNav">
            <li id="siteName"><a href="/main">Rapt</a></li>
            <li><a href="/today">Today's timers</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>