<%- include('partials/header')%>
</header>
<main id="mainPage">
    <%- include('partials/timer') %>
    <section class="hide record">
        <h2>List of sessions:</h2>
        <ul id="sessionList">

        </ul>
    </section>
</main>
<%- include('partials/footer')%>
<script src="../../js/demo.js"></script>
<script src="../../js/modal.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/guest.js"></script>
<script src="../../js/notifications.js"></script>
</body>
</html>