<%- include('partials/header') %>
<main>
    <ul>
        <% let sessionDays = [...new Set(history.map(el => el.createdAt.toDateString()))] %>
        <% for (let day of sessionDays) { %>
            <h2><%= day %></h2>
            <ul>
                <% let sessionList = [...new Set(history.filter(el => el.createdAt.toDateString() == day))] %>
                <% for (let session of sessionList) { %>
                    <li><%= session %></li>
                <% } %>
            </ul>
        <% } %>
    </ul>
</main>
<%- include('partials/footer') %>