<%- include('partials/header.ejs') %>
    <h1><%= testStr %></h1>
    <% if (testBool) { %>
        <p>truthy</p>
     <% } %>
     <section>
<a href="/signup">Sign up</a><a href="/login">Log in</a>
     </section>
<%- include('partials/footer.ejs') %>