<%- include('partials/header.ejs') %>
</header>
<main id="mainPage" class="centered">
          <p id="appInfo">Track time. Build habits. Make progress. </p>
          <!-- <blockquote>How we spend our days is how we spend our lives. -- Annie Dillard</blockquote> -->
          <section id="buttonMenu">
               <a class="btn" href="/signup">Sign up</a><a class="btn" href="/login">Log in</a>
          </section>
          <p><a class="dark" href="/timer">Use as Guest</a></p>
     </main>

<%- include('partials/footer.ejs') %>

</body>
</html>