<%- include('partials/header.ejs') %>
<!-- <%- include('partials/nav-unauth') %> -->

          <p id="appInfo">Track time. Build habits. Make progress. </p>
          <!-- <blockquote>How we spend our days is how we spend our lives. -- Annie Dillard</blockquote> -->
          <section id="buttonMenu">
               <a class="btn" href="/signup">Sign up</a> or <a class="btn" href="/login">Log in</a>
          </section>


<%- include('partials/footer.ejs') %>