<%- include('partials/header') %>
<main>
    <section>
        <ul>
            <% for (let i = 0; i < timersToday.length; i++) { %>
                <li>
                    <%= `${timersToday[i].sessionType}: ${timersToday[i].duration} minutes` %><%= timersToday[i].memo.length > 0 ? `${timersToday[i].memo}` : '' %>
                </li>
            <% } %>
        </ul>
    </section>
</main>

<%- include('partials/footer') %>
