<%- include('partials/header')%>
<%- include('partials/nav-auth') %>
    <p>Please note this app is in demo mode. Time runs a little faster here.</p>
    <div id="countdown">
        <p id="countdownP" class="">0:00</p>
    </div>
    <form id="workForm" action="/main" method="POST">
        <div id="workFormMain">
            <h2 class="instructions">Preset times:</h2>
            <label class="selected btn" for="workSelect">Work</label>
            <input type="radio" id="workSelect" class="sessionOption" name="sessionType" value="work" checked>
            <label class="btn" for="breakSelect">Break</label>
            <input type="radio" id="breakSelect"  class="sessionOption" name="sessionType" value="break">
            <label class="instructions" for="sessionTimer">Set Timer </label>
            <input type="number" id="sessionTimer" name="duration" min=0 max=60>
            <button type="button" id="startBtn" class="btn">Start Timer</button>
            <button id="enable" type="button" class="btn">Enable Notifications</button>
        </div>

        <div id="modalFade" class="hide">
            <div id="modal">
                <p id="sessionInfo">Session Info</p>
                <label for="memo">Add Memo?</label>
                <input type="text" id="memo" name="memo" placeholder="(optional)">
                <section id="buttonMenu">
                    <button type="submit" id="submitBtn" class="btn">Submit Session</button>
                    <button type="button" id="closeModal" class="btn">Close without Submitting</button>
                </section>
            </div>
        </div>

    </form>
</main>
<%- include('partials/footer')%>


<!-- <div id="workFormMain">
            <h2 class="instructions">Preset Time Blocks:</h2>
            <div id="sessionChoices">
                    <label class="selected sessionOption btn" for="workSelect">Work</label>
                    <input type="radio" id="workSelect" name="sessionType" value="work" checked>
                    <label class="sessionOption btn" for="breakSelect">Break</label>
                    <input type="radio" id="breakSelect" name="sessionType" value="break">
            </div>
            
            <div id="setTime">
                <label class="instructions" for="sessionTimer">Set Timer </label>
                <input type="number" id="sessionTimer" name="duration" min=0 max=60>
            </div>
            <button type="button" id="startBtn" class="btn">Start Timer</button>
        </div> -->