/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Changes to Normalize */
* {
    line-height: 1.7;
}
/* --------------------COLOUR PALETTE--------------- */
:root {
	--dark-accent: hsl(246, 17%, 36%);
	--main-accent: hsl(40, 64%, 95%);
	--light-accent: hsl(215, 100%, 96%);
	--light: hsl(210, 40%, 85%);
}
/* LAYOUT */
body {
	display: grid;
	/* grid-template-rows: auto 1fr auto; */
    grid-template-rows: 1fr;
	height: 100vh;
}
h2 {margin: 0;}
input {min-width: 0;}
#mainPage {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    padding: 1.5rem;
}
#mainPage, #buttonMenu {
  padding: 1.5rem;
}

.gridForm {
	display: grid;
	grid-template-columns: 40fr 60fr;
	gap: 3ch;
	margin: 0.5rem auto;
}

#workFormMain {
	display: flex;
  flex-flow: row wrap;
	justify-content: space-around;
}

#workForm {width: 90%;}
#workFormMain {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1ch;
}
#workFormMain > * {
  display:flex;
  justify-content: center;
  align-items: center;
}

#countdownP {margin: 0;}
/* STYLES */
* {border-radius: 5px;}
#mainPage {
    background-color: var(--main-accent);
}

#buttonMenu{
    display: flex;
    flex-flow: column;
}
.instructions {
  font-size: 1.4rem;
  font-weight: bold;
}
.btn {
  border-radius: 5px;
  background-color: var(--light);
  border: none;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn:hover{
    text-decoration: underline;
}

.sessionOption:hover {
    text-decoration: none; 
}

#startBtn:hover, .selected {
  background-color: var(--dark-accent);
  color: var(--light);
}

#countdownP {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    line-height: normal;
}


/* MODAL */
#modalFade {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#modal {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    max-width: 650px;
}
/* JS */
.hide {
    display:none!important;
}
.highlightSelection {
    animation: highlight 0.5s ease-out;
}

@keyframes highlight {
    from {
        background-color: var(--main-accent);
    }
    20% {
        background-color: var(--light);
    }
    to {
        background-color: var(--main-accent);
    }
}

@media screen and (min-width: 600px) {
    #buttonMenu {
        flex-flow: row;
        justify-content: space-around;
        /* width: 50%; */
    }
    #countdownP {
        font-size: 12rem;
    }
    #plot {
        width: 60%;
      }
      li {
        display: grid;
        grid-template-columns: 30fr 40fr 15fr 15fr;
        gap: 3ch;
      }
      #mainNav li {
        display: list-item;
      }
}

/* History, Today's */

#emailHelp {
    grid-column: 1 / 3;
}

#plot div {
	height: 25px;
  }
  
  .bar-container,
  .barLabels {
	margin: 1rem 0.5rem;
  }
  .bar {
	border: 1px solid var(--dark-accent);
  }
  .bartext {
	padding-left: 0.5rem;
  }
  
  #plot {
	width: 90%;
	margin: 0 auto;
	display: flex;
  }

  #barSide {
	flex: 1 1 50%;
	text-align: right;
  }
  
  .bar-container,
  #mainNav {
	display: flex;
	align-items: center;
  }

  /* #barSide div */
  div.bar {
	background-color: var(--dark-accent);
	width: 50%;
	transition: width 1s ease-out;
  }

  #plot {
	font-variant: small-caps;
	padding-bottom: 0.5rem;
  }
  
  .update,
  .delete {
	border-radius: 1rem;
	border-left: 0.25rem solid var(--main-accent);
	border-right: 0.25rem solid var(--main-accent);
	text-align: center;
  text-decoration: none;
  color: var(--dark-accent);
  /* padding: 0.1rem 0.5rem; */
  }
  
  .update:hover,
  .delete:hover {
	background-color: var(--light);
  }
  .plot {
	line-height: 0;
  }
  .bartext {
	overflow: hidden;
  }

  input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
  }